@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";


h1, p {
    text-shadow: 0px 6px 6px rgba(0,0,0,0.12);
}

h1 {
font-size: 72px;
font-weight: 100;
color: #FFFFFF;
line-height: 84px;

}

h1, .poll, .cta, .description {
    @include outer-container;
}

.cta {
    text-align: center;

    .btn {
        @extend button;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 19px;
            /* BG: */
        // background-image: linear-gradient(-180deg, #2BCFC7 0%, #26B5AE 100%);
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.12), 0px 6px 6px 0px rgba(0,0,0,0.12);
        background: #26B5AE;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            // background-image: linear-gradient(-180deg, lighten(#2BCFC7, 10%) 0%, lighten(#26B5AE, 10%) 100%);
            background: lighten(#26B5AE, 10%);
        }
    }
}

/*************************
          HERO
*************************/

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        margin: 0;
    }

    p {
        max-width: em(540);
        margin: 2em auto;

        &.lead {
            font-family: HelveticaNeue-Medium;
            font-size: 1.75em;
            color: #FFFFFF;
            line-height: 1.5;
            margin-bottom: 0;
        }

        &.supporting {
            font-family: HelveticaNeue-Light;
            font-size: 1.35em;
            color: #FFFFFF;
            line-height: 1.5;
            margin-top: 1em;
        }
    }
}

/*************************
          form
*************************/

.poll {

    padding: em(50) 0;

    h4:nth-child(3) {
        margin-top: 32px;
    }

    .row {
        @include outer-container;

        .form-category {
            @include span-columns(12);
            padding: 0 em(10);

            @include media( em(640)) {
                @include span-columns(6);
            }
        }
    }

    .btn {
        margin-top: 2em;
    }
}


/**************************
        BLUR BG
**************************/

.blurImg {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  & > div {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
}

.blur {
  opacity: 0;
}

@import "vendor/jvfloat";